.header {
  position: absolute;
  background: linear-gradient(rgba(4,38,172,0.4), rgba(4,38,172,0.4)),
              url('/assets/correo.jpeg') no-repeat center center;
  background-size: cover;
  height: 100vh;
  margin: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-container {
    background: #f5f7fa;
    border-radius: 40px;
    width: 90%;
    max-width: 400px;
    padding: 30px;
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.25);
}

.login-form {
    background-color: transparent;
    box-shadow: none;
}

ion-list.login-form {
  --background: transparent;
  background-color: transparent !important;
  box-shadow: none;
}

ion-item {
  --background: transparent;
  background-color: transparent !important;
}
.ptit {
    font-size: 18px;
    text-align: center;
    font-weight: 800;
    font-style: bold;
    color: #f5f7fa;
    margin-top: 0px;
}

.lbl {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.ion-input {
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    --border-color: none;
    background:#eaeaea;
    width: 100%; // Mantener el ancho
    height: 10px; // Reducir la altura
    padding: 8px 12px; // Ajustar el padding interno
}

.ion-select {
    width: 100%;
}


.close-title-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.btn-close,
.btn-close-placeholder {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}

.btn-close {
  margin-right: 12px;
  --padding-start: 0;
  --padding-end: 0;
  --box-shadow: none;
  color: black;
  ion-icon {
    font-size: 1.8rem;
    transition: transform 0.2s ease;
  }
  &:active {
    transform: scale(0.95);
  }
}

.tit {
  flex: 1;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
   margin-left: auto;
  margin-right: auto;
}

.ion-button {
    --background: #233559; 
    --box-shadow: none;
    --border-radius: 20px;
    --color:#f5f7fa;
    text-transform: none;
    font-weight: 600;
    font-size: 21px;
    height: 55px;
    width: 90%;
    margin: 20px auto 0;
   transition: background-color 0.3s ease, transform 0.2s ease;
}

ion-button.custom-button:hover {
  --background: #18253f;
  transform: scale(1.02);
}

ion-button.custom-button:active {
  transform: scale(0.98);
}

ion-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-radio-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ion-radio-group ion-item {
  margin-left: 16px;
}