<ion-content>
  <!-- Header con botón hamburguesa -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Reportes Salidas</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal -->
  <ion-content class="ion-padding">
    <!-- Título de reporte -->
    <ion-item lines="none">
      <ion-label class="report">REPORTES DE SALIDAS</ion-label>
    </ion-item>

    <!-- Tabla de datos -->
    <div class="table-container">
      <ion-grid>
        <ion-row>
          <ion-col class="tit" size="2"><strong>ID</strong></ion-col>
          <ion-col class="tit" size="2"><strong>Usuario</strong></ion-col>
          <ion-col class="tit" size="2"><strong>Correo</strong></ion-col>
          <ion-col class="tit" size="2"><strong>Fecha</strong></ion-col>
          <ion-col class="tit" size="2"><strong>Hora</strong></ion-col>
          <ion-col class="tit" size="2"><strong>Modo</strong></ion-col>
        </ion-row>
        <ion-row *ngFor="let registro of reportes">
          <ion-col class="sub" size="2">{{ registro.idReporte }}</ion-col>
          <ion-col class="sub" size="2">{{ registro.nombre }}</ion-col>
          <ion-col class="sub" size="2">{{ registro.email }}</ion-col>
          <ion-col class="sub" size="2">{{ registro.fecha }}</ion-col>
          <ion-col class="sub" size="2">{{ registro.hora }}</ion-col>
          <ion-col class="sub" size="2">{{ registro.modo }}</ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
</ion-content>