<ion-content>
  <div class="background-blur"></div>

  <div class="title-container">
    <div class="icon-container" (click)="openMenu()">
      <ion-icon name="menu" class="menu-icon"></ion-icon>
    </div>
    <div class="title">REPORTES DE SALIDA</div>
  </div>

  <div class="table-container">
    <ion-grid>
      <ion-row>
        <ion-col class="tit" size="2"><strong>ID</strong></ion-col>
        <ion-col class="tit" size="2"><strong>Usuario</strong></ion-col>
        <ion-col class="tit" size="2"><strong>Correo</strong></ion-col>
        <ion-col class="tit" size="2"><strong>Fecha</strong></ion-col>
        <ion-col class="tit" size="2"><strong>Hora</strong></ion-col>
        <ion-col class="tit" size="2"><strong>Modo</strong></ion-col>
      </ion-row>
      <ion-row *ngFor="let registro of reportes"> <!-- Asegúrate de usar tu variable correcta -->
        <ion-col class="sub" size="2">{{ registro.id }}</ion-col>
        <ion-col class="sub" size="2">{{ registro.usuario }}</ion-col>
        <ion-col class="sub" size="2">{{ registro.correo }}</ion-col>
        <ion-col class="sub" size="2">{{ registro.fecha }}</ion-col>
        <ion-col class="sub" size="2">{{ registro.hora }}</ion-col>
        <ion-col class="sub" size="2">{{ registro.modo }}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>