@import 'src/theme/tablas_base'; // Importa los estilos compartidos


.report {
  color: $color-primario; 
}


@for $i from 1 through 10 {
  ion-row:nth-child(#{$i}) {
    animation-delay: #{$i * 0.08}s;
  }
}