<ion-content>
  <!-- Header con botón hamburguesa -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="main-menu"></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenido principal -->
  <ion-content class="ion-padding">
    <div class="welcome">¡BIENVENIDO!</div>
    
    <div class="user-info">
      <ion-item class="ionit" lines="none">
        <div class="imgper"><ion-label class="foto">Foto</ion-label></div>
        <ion-label class="nom">{{ nombrecompleto }}</ion-label>
      </ion-item>
    </div>    
       

      <div class="table-container">
        <div class="tit">Código de Administrador:</div>
        <div class="sub">{{codigo}}</div>
        <div class="tit">Correo universitario:</div>
        <div class="sub">{{correo}}</div>
        <div class="tit">Edad:</div>
        <div class="sub">{{edad}}</div>
        <div class="tit">Sexo:</div>
        <div class="sub">{{sexo}}</div>
      </div>


       <div class="centro">
        <ion-button (click)="verifyQR(qrLeido)">Verificar QR</ion-button>
      </div>
    
  </ion-content>
</ion-content>